<section class="last-visit">
    <h3>Basado en tu última visita</h3>
    <div class="products">
        <% for (let producto of productos) { %>
        <article>
            <img src=<%= producto.imgSrc%> alt=<%= producto.imgAlt %> class="product_img">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price-box">
                    <p class="price"><%= producto.price %></p>
                    <p class="discount"><%= producto.discount %></p>
                </div>
                <h4 class="description"><%= producto.description %></h4>
            </div>
        </article>
        <% } %>
    </div>
</section>