<!DOCTYPE html>
<html>
    <%- include ('./partials/head') %>
    <body>
        
    <%- include ('./partials/header') %>

    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>

        <%- include ('./partials/last-visited') %>
        <%- include ('./partials/offers') %>

    </main>

    <%- include ('./partials/footer') %>

</body>

</html>